<div class="modal" *ngIf="post">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ post.author }}</mat-card-title>
            <mat-card-subtitle>{{ post.created_at }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>{{ post.title }}</p>
            <a href="{{post.url}}">{{post.url}}</a>
            <p>{{ post | json }}</p>
        </mat-card-content>

        <!-- <mat-card-actions>
            <button mat-raised-button color="primary">Close</button>
        </mat-card-actions> -->
    </mat-card>
</div>